.command-entry {
	background-color: var(--chess-dark-gray-2);
	font-size: var(--chess-text-normal);
	padding: var(--chess-padding-medium);
	border-bottom: solid var(--chess-border-thick) var(--chess-green);
	margin-bottom: var(--chess-padding-normal);
}