.user-profile {
	background-color: var(--chess-dark-gray-2);
	font-size: var(--chess-text-normal);
	padding: var(--chess-padding-medium);
	border-bottom: solid var(--chess-border-thick) var(--chess-green);
	margin-bottom: var(--chess-padding-normal);
}

.user-profile-name {
	font-size: var(--chess-text-huge);
	text-align: center;
}

.user-profile-bio {
	font-size: var(--chess-text-medium);
	color: var(--chess-gray);
	text-align: center;
	font-style: italic;
}

.user-profile-stats {
	text-align: center;
}

.user-profile-stat {
	display: inline-block;
	text-align: center;
	width: 200px;
	font-size: var(--chess-text-medium);
}

.user-profile-stat-caption {
	color: var(--chess-green);
	font-weight: bold;
}
.user-profile-wrapper {
	display: inline-table;
	vertical-align: middle;
	text-align: center;
}

.game-images {
	max-width: 20vw;
	max-height: 20vh;
}

.pagination {
	text-align: center;
}

.pagination a {
	font-size: 18px;
	color: var(--chess-green);
	padding: 8px 16px;
	text-decoration: none;
}

a:last-child {
	color: white;
}
a:first-child {
	color: white;
}

a.active {
text-decoration: underline;
}
